extends layout

block content
  h1= title
  p Welcome to #{title}

  br
  br
  
  h2 Scrape a Website
  form(id="url-form", action="/scrape", method="POST")
    label(for="url-input") Website URL
    input(type="text", id="url-input", name="url", required)
    br
    input(type="submit", value="Submit")
    p#success-message(style="visibility:hidden") URL submission successful!

  br
  br
  
  div#scraped-display 
    p#scraped-content(style="white-space: pre-wrap;")

  script.
    document.getElementById('url-form').addEventListener('submit', function(e) {
      e.preventDefault(); // prevents redirect after submission

      const formData = new URLSearchParams(new FormData(this)); // Convert FormData to URLSearchParams
      console.log('Form Data:', Array.from(formData.entries())); // Log form data

      fetch('/scrape', {
        method: 'POST',
        body: formData,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'Accept': 'application/json'
        }
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log('URL form submission successful:', data);
        let successElement = document.getElementById('success-message');
        successElement.style.visibility = 'visible';

        // Display the scraped content
        let scrapedContentDiv = document.getElementById('scraped-content');
        scrapedContentDiv.innerHTML = data.htmlContent; // Assuming the response contains the scraped HTML
      })
      .catch(error => {
        console.error('URL form submission error:', error);
      });
    });
